<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/styles.css"/>
    <title>Document</title>
</head>
<body>
        <ul>
            <li><a class="{{ home }}"href="">Home</a></li>
            <li><a class="{{ create }}" href="">Create</a></li>
            <li><a class="{{ character }}" href="">Character</a></li>
            <li><a class="{{ login }}" href="">Login</a></li>
        </ul>
    <main>
        Template
    </main>
    {% include "includes/footer.html" %}
</body>

</html>