
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}"/>
    <title>Document</title>
</head>
<body>
    {% include "includes/nav.html" %}

    {% if session['charname'] %}
    <span class='char'>Welcome {{ session['charname'] }}</span>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h1>{{ message }}</h1>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    
    {% endblock %}

    {% include "includes/footer.html" %}
</body>

</html>