{% extends "layout.html" %}

{% block content %}
    <h1>Login Content</h1>
    <form name="login" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.char_name.label }}<br>
            {{ form.char_name() }}
            {% for error in form.char_name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.char_class.label }}<br>
            {{ form.char_class() }}
            {% for error in form.char_name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
