{% extends "layout.html" %}

{% block content %}

<h1>Make spells here</h1>
    <table>
        <thead>
            <tr>
                <th>Spell ID</th>
                <th>Title</th>
                <th>Casting</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for data in spellData %}
            <tr>
                <td>{{ data["spellID"]}}</td>
                <td>{{ data["title"] }}</td>
                <td>{{ data["casting"] }}</td>
                <td>{{ data["spell_type"] }}</td>
                <td>
                    <form action="{{ url_for('scribe') }}" method="POST">
                        <input type="hidden" name="spellID" value="{{ data['spellID'] }}">
                        <input type="hidden" name="title" value="{{ data['title'] }}">
                        <input type="hidden" name="casting" value="{{ data['casting'] }}">
                        <input type="hidden" name="spell_type" value="{{ data['spell_type'] }}">
                        <button>Edit</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% if test %}
            <tr>
                <form name="create" action="" method="post" nonvalidate>
                    {{ form.hidden_tag() }}
                    <td>
                        {{ form.spell_id() }}
                        {% for error in form.spell_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.spell_name() }}
                        {% for error in form.spell_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.casting() }}
                        {% for error in form.casting.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.spell_type() }}
                        {% for error in form.spell_type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.submit() }}
                    </td>
                </form>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}