{% extends "layout.html" %}

{% block content %}

<h1>Make spells here</h1>
    <table>
        <thead>
            <tr>
                <th>Spell ID</th>
                <th>Title</th>
                <th>Casting</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for data in spellData %}
            <tr>
                <td>{{ data["spellID"]}}</td>
                <td>{{ data["title"] }}</td>
                <td>{{ data["casting"] }}</td>
                <td>{{ data["spell_type"] }}</td>
                <td>
                    <form action="{{ url_for('scribe') }}" method="POST">
                        <input type="hidden" name="spellID" value="{{ data['spellID'] }}">
                        <input type="hidden" name="title" value="{{ data['title'] }}">
                        <input type="hidden" name="casting" value="{{ data['casting'] }}">
                        <input type="hidden" name="spell_type" value="{{ data['spell_type'] }}">
                        <button>Edit</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% if test %}
            <tr>
                <td>edit line</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}