
    <ul>
        <li><a class="{{ home }}"href="{{ url_for('index') }}">Home</a></li>
        {% if not session['charname'] %}
        <li><a class="{{ create }}" href="{{ url_for('create') }}">Create</a></li>
        {% endif %}
        <li><a class="{{ character }}" href="{{ url_for('character') }}">Character</a></li>
        <li><a class="{{ spells }}" href="{{ url_for('spells') }}">Spells</a></li>
        <li><a class="{{ selection }}" href="{{ url_for('selection') }}">Spell Book</a></li>
        {% if not session['charname'] %}
        <li><a class="{{ login }}" href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
        {% if session['charname'] %}
        <li><a class="{{ logout }}" href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
    </ul>